<!doctype html>
<head>
	<title>Dump trucks simulation</title>
</head>
<body>
	<div class="top-section">
		<div>
			<form id="dump-truck-form">
				<table class="form-table">
					<thead>
						<tr>
							<th>Input</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<strong>Durasi</strong>
							</td>
						</tr>
						<tr>
							<td>
								Durasi waktu (banyak clock)
							</td>
							<td>
								<span>:</span>{{ form.duration }}		
							</td>
						</tr>
						<tr>
							<td>
								<strong>Alat</strong>
							</td>
						</tr>
						<tr>
							<td>
								Banyak loader
							</td>
							<td>
								<span>:</span>{{ form.nLoader }}
							</td>
						</tr>
						<tr>
							<td>
								Banyak weigh
							</td>
							<td>
								<span>:</span>{{ form.nScale }}
							</td>
						</tr>
						<tr>
							<td>
								<strong>Kondisi Awal Truk</strong>
							</td>
						</tr>
						<tr>
							<td>
								Banyak truk yang sedang berada di loader
							</td>
							<td>
								<span>:</span>{{ form.nTrucksInLoader }}
							</td>
						</tr>
						<tr>
							<td>
								Banyak truk yang sedang berada di weigh
							</td>
							<td>
								<span>:</span>{{ form.nTrucksInWeigh }}		
							</td>
						</tr>
						<tr>
							<td>
								Banyak truk yang sedang travel
							</td>
							<td>
								<span>:</span>{{ form.nTrucksTravel }}
							</td>
						</tr>
						<tr>
							<td>
								<strong>Distribusi waktu (normal)</strong>
							</td>
						</tr>
						<tr>
							<td>
								Rata-rata waktu load
							</td>
							<td>
								<span>:</span>{{ form.loadTimeMean }}
							</td>
						</tr>
						<tr>
							<td>
								Standar deviasi waktu load
							</td>
							<td>
								<span>:</span>{{ form.loadTimeStd }}	
							</td>
						</tr>
						<tr>
							<td>
								Rata-rata waktu weigh
							</td>
							<td>
								<span>:</span>{{ form.weighTimeMean }}	
							</td>
						</tr>
						<tr>
							<td>
								Standar deviasi waktu weigh
							</td>
							<td>
								<span>:</span>{{ form.weighTimeStd }}
							</td>
						</tr>
						<tr>
							<td>
								Rata-rata waktu travel
							</td>
							<td>
								<span>:</span>{{ form.travelTimeMean }}	
							</td>
						</tr>
						<tr>
							<td>
								Standar deviasi waktu travel
							</td>
							<td>
								<span>:</span>{{ form.travelTimeStd }}
							</td>
						</tr>
					</tbody>
				</table>

				<input type="submit" />
			</form>
		</div>

		<div>
			<table>
				<thead>
					<tr>
						<th>Ringkasan</th>
					</tr>
				</thead>
				<tbody>
					{% for key in summary %}
					<tr>
						<td> {{ key }} </td>
						<td>: {{ summary[key] }} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div>
		<table class="tabel-dump-truck">
			<thead >
				<tr>
					{% for key in columns %}
						<th style="min-width: 100px">{{key}}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for data in records %}
				<tr>
					{% if data %}
						{% for key in data %}
							<td>{{ data[key] }}</td>
						{% endfor %}
					{% else %}
						<td></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>

<style>
	.top-section {
		display: flex;
	}

	.top-section div {
		padding: 20px;
	}

	.tabel-dump-truck th, .tabel-dump-truck td {
		border: 1px solid black;
		text-align: center;
	}

	.tabel-dump-truck {
		border-collapse: collapse;
	}

	.tabel-dump-truck td {
		white-space:pre
	}
</style>